@font-face {
  font-family: '.';
  src: url('assets/fonts/bbc2e9aca1a5d8d2e4336b6640783ce5.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'spoticon';
  src: url('assets/fonts/spoticon-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '.';
  src: url('assets/fonts/be2a8aaff64ef21a2745e9aaef46cb60.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '.';
  src: url('assets/fonts/8d5b372633b1adf2521a30ba4d0c7315.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '.';
  src: url('assets/fonts/67fb58c82da4d2220bd68014c2fa6b6d.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '.';
  src: url('assets/fonts/b9672b875ac9aa969151da3b68c91350.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'spoticon';
  src: url('assets/fonts/spoticon-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '.';
  src: url('assets/fonts/fe2334d6ab2e37ce4dbb47ffd1ec9838.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '.';
  src: url('assets/fonts/1380bc27714a0e90a78b33f4c4dc5154.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '.';
  src: url('assets/fonts/abeebe9b72f9728ccf3d5f92e8c6faf4.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


 
 *{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: '.';
}

body{
  background-color: black;
  color: white;
}

.main{
  display: flex;
  width: 100%;
  height: 86vh;
}

.left_menu{
  width: 15%;
  margin: 2rem 2rem 0rem 2rem;
}

.marginbtm{
  margin-bottom: 2rem;
}
.side{
  margin-bottom: 2rem;
}
.side_btns{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.3rem;
  margin: 1rem 0rem ;
}
.side_btns>div{
  margin-right: 2rem;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2.side_btns{
  font-weight: 500;
}

.small{
  font-size: 1.2rem;
  align-items: center;
  margin: 0rem;
  /* padding: 0rem 1rem; */
}


.content{
  width: 85%;
  background: linear-gradient(180deg, #222222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, rgba(18, 18, 18, 0) 100%);
  padding: 2rem;
}

.content_nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0rem;
}

.arrows_contnr{
  display: flex;
  justify-content: space-between;
  width: 5rem;
}
.arrow_box{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
  background-color: #121212;
}

.profile_toggle{
  display: flex;
  width: 8rem;
  padding: 3px;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  border-radius: 25px;
}
.profile_img{
  height: 2rem;
}
.profile_toggle>h5{
  font-size: 1.2rem;
}

.content_playlists{
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}
.content_playlists>h1{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.playlists{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 2rem;
}
.playlist{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #303030;
  height: 5rem;
  width: 22rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.plylist_img{
  height: 5rem;
  margin-right: 1.2rem;
}

.content_shows>h2{
  margin-bottom: 1.5rem;
}
.shows{
  width: 80%;
  /* height: 20rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.show{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
  padding: 1rem;
  border-radius: 0.5rem;
  /* height: 15rem; */
  /* width: 12rem; */
}
.show>img{
  height: 12rem;
  margin-bottom: 1rem;
}
.show>h5{
  font-size: 1.2rem;
}

footer{
  height: 13.5;
  background-color: #181818;
}

.player{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;

}

.song_details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem 2rem 1rem 2rem; */
  width: 15%;
  
}

.btns{
  display: flex;
  justify-content: space-between;
  width: 15rem;
  margin-bottom: 1rem;
}

.bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar>h5{
  color:#C4C4C4;
  ;
}

.player_contols{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.progress_bar{
  height: 3px;
  width: 30rem;
  background-color: #535353;
  margin: 0rem 0.3rem;
}

.progress{
  width: 70%;
  height: 3px;
  background-color: #C4C4C4;
  ;
}





.sound_controls{
  width: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.green_bottom{
  background-color:  #1ED760;
  color: #121212;
  height: 1.4rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.green_bottom>img{
margin-right: 10px;
}
.green_bottom>p{
  font-size: 1.0rem;
  font-weight: 600;
  margin-right: 10rem;
}